<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1>Rafael</h1>
    <h2>Vai te afundar</h2>
    <img src="{{ url_for('static', filename='img/images.jpg') }}" alt="Ancora" width="300">
</body>
</html>